@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --aeropress-main: rgb(203, 203, 148);
  --bg-main: rgba(0, 0, 0, 0.9);
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: var(--bg-main);
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
}

header {
  margin: 1rem 0;
  color: var(--aeropress-main);
}

header h1 {
  margin: 0;
}

header p {
  color: lightgray;
  margin: 0;
}

footer {
  border-top: 1px solid white;
  width: 100%;
  margin-top: 3rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--aeropress-main);
}

button {
  background: none;
  color: white;
  border: 1px solid white;
  padding: 1rem;
  margin-bottom: 0.3rem;
}

label {
  z-index: 2;
}

label input {
  z-index: -1;
}

button:disabled {
  color: gray;
  border: 1px solid gray;
}

#error {
  color: red;
  border: 1px solid red;
  padding: 1rem;
  border-radius: 1rem;
}

.progress {
  text-align: center;
}
